<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DODAVANJE MENADZERA I DOSTAVLJACA</title>
</head>
<body>
    <h1>Registracija menadzera i dostavljaca</h1>
    <form id="form" name="form" th:action="@{/registracija}" th:object="${korisnik}" method="post">
        <p>Ime: </p>
        <input type="text" name="ime" placeholder="Ime" id="ime" required th:field="*{ime}">
        <p>Prezime: </p>
        <input type="text" name="prezime" placeholder="Prezime" id="prezime" required th:field="*{prezime}">
        <p>Korisnicko: </p>
        <input type="text" name="kime" placeholder="Korisnicko ime" id="kime" required th:field="*{kime}">
        <p>Sifra: </p>
        <input type="password" name="lozinka" placeholder="Sifra" id="lozinka" required th:field="*{lozinka}">
        <p>Pol: </p>
        <input type="text" name="pol" placeholder="Pol" id="pol" required th:field="*{pol}">
        <p>Datum rodjenja: </p>
        <input type="text" name="datum" placeholder="Datum" id="datum" required th:field="*{datum}">
        <p>Uloga: </p>
        <input type="text" name="uloga" placeholder="Uloga" id="uloga" required th:field="*{uloga}">
        <button type="submit" id="btnRegistracija">Registration</button>
    </form>
</body>
</html>