*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.logovanje-form{
  position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    padding: 16px 32px;
}

.logovanje-form h1 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0px 0px 0px;
    color:#fff;

}


.logovanje-form p{
    font-size: 15px;
    margin: 5px 0;

}


.logovanje-form input {
    font-size: 16px;
    padding: 10px 10px;
    width: 100%;
    border-radius: 5px;
    outline: none;

}

.logovanje-form button {
    font-size: 18px;
    font-weight: bold;
    margin:20px 0px 0px 80px;
    padding: 10px 15px;
    width: 160px;
    border: 0;
    border-radius: 5px;
    background-color: #130a48;
    color: #fff;

}
